<div class="main">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a [routerLink]="['/list']" class="navbar-brand">A La Casserole</a>
        <div class="row">
            <a [routerLink]="['/search']" class="nav-item nav-link">Search for Recipes</a>
            <a [routerLink]="['/recipes']" class="nav-item nav-link">My Recipes</a>
        </div>
    </nav>
    <button (click)="showAddComponent()" class="btn btn-primary">Add New Ingredients!</button>
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-5">
                <h1>Ingredients in Fridge</h1>
                <div *ngFor="let category of catLeft" class="">
                    <h4>{{category}}</h4>
                    <div *ngFor="let ingredient of ingredients">
                        <ul>
                            <li *ngIf="ingredient.category == category">{{ingredient.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <h1>Ingredients in Pantry</h1>
                <div *ngFor="let category of catRight" class="">
                    <h4>{{category}}</h4>
                    <div *ngFor="let ingredient of ingredients">
                        <ul>
                            <li *ngIf="ingredient.category == category">{{ingredient.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<!-- <router-outlet></router-outlet> -->
<app-add-ingredient *ngIf="showAdd"></app-add-ingredient>
<div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
</div>
