<div class="">
    <h3>Results</h3>
    <div class="row">
        <div *ngFor="let recipe of recipes" class="my-3 col-4">
            <!-- <img [src]="recipe.image" alt="recipeImage" class="d-inline-block">
            <div class="row ml-5 d-inline-block">
                <p>{{ recipe.title }}</p>
                <button (click)="showDetails(recipe)" class="btn btn-primary">Details</button>
            </div> -->
            <div class="card" style="width: 18rem;" (click)="showDetails(recipe)">
                <img class="card-img-top" [src]="recipe.image" alt="recipeImage">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>

    </div>
</div>
