<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-5">
            <h1 class="my-3">Register</h1>
            <form (submit)="register()">
                <div class="form-group">
                    <label>First name:</label>

                    <input type="text" required minlength=3 class="form-control" name="newUser.fname" [(ngModel)]="newUser.fname" #fname="ngModel">
                    <div class="alert alert-warning" *ngIf="(fname.invalid && (fname.dirty || fname.touched))">
                    <span *ngIf="fname.errors.required">Name is required</span>
                    <span *ngIf="fname.errors.minlength">Name must be at least 3 characters</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last name:</label>
                    <input type="text" required minlength=3 class="form-control" name="newUser.lname" [(ngModel)]="newUser.lname" #lname="ngModel">
                    <div class="alert alert-warning" *ngIf="(lname.invalid && (lname.dirty || lname.touched))">
                    <span *ngIf="lname.errors.required">Name is required</span>
                    <span *ngIf="lname.errors.minlength">Name must be at least 3 characters</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" required minlength=6 class="form-control" name="newUser.username" [(ngModel)]="newUser.username" #username="ngModel">
                    <div class="alert alert-warning" *ngIf="(username.invalid && (username.dirty || username.touched))">
                    <span *ngIf="username.errors.required">Name is required</span>
                    <span *ngIf="username.errors.minlength">Name must be at least 3 characters</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" required minlength=6 class="form-control" name="newUser.pw" [(ngModel)]="newUser.pw" #pw="ngModel">
                    <div class="alert alert-warning" *ngIf="(pw.invalid && (pw.dirty || pw.touched))">
                    <span *ngIf="pw.errors.required">Name is required</span>
                    <span *ngIf="pw.errors.minlength">Name must be at least 3 characters</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" required minlength=6 class="form-control">
                </div>
                <input class="btn btn-primary mr-3" type="submit" value="Register">
                <a [routerLink]="['/login']">Login</a>
            </form>
        </div>
    </div>
